# Needed in order for the ansible_local provisioner executing in the controller
# virtual machine to know the connection parameters.
[defaults]
host_key_checking = no
retry_files_enabled = False
interpreter_python = /usr/bin/python3

[privilege_escalation]
become = true